<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RESTful.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <RESTful.Properties.Settings>
            <setting name="BaseAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Method" serializeAs="String">
                <value />
            </setting>
            <setting name="Resource" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportAssembly" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestBody" serializeAs="String">
                <value />
            </setting>
            <setting name="Type" serializeAs="String">
                <value />
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value />
            </setting>
            <setting name="RequestHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="Format" serializeAs="String">
                <value />
            </setting>
            <setting name="AttachmentFile" serializeAs="String">
                <value />
            </setting>
        </RESTful.Properties.Settings>
    </userSettings>
</configuration>